<h1>Products</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Decription</th>
      <th>Device</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Stock quantity</th>
      <th>Date expected on</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= link_to product.name, product %>
          <span class="pull-right">
            <%= link_to edit_product_path(product) do %>
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <% end %>
            <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            <% end %>
          </span>
        </td>
        <td><%= product.name %></td>
        <td><%= product.decription %></td>
        <td><%= product.brand_id %></td>
        <td><%= product.price %></td>
        <td><%= product.stock_quantity %></td>
        <td><%= product.date_expected_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class: 'btn btn-success' %>
