<h1>Product Info: <%= @product.name %></h1>
<p>
  <strong>ID:</strong>
  <%= @product.id %>
</p>

<table class="table table-bordered table-striped">
  <tr>
    <td>Description:</td>
    <td><%= @product.description %></td>
  </tr>

  <tr>
    <td>Device:</td>
    <td><%= link_to @product.device.name, @product.device %></td>
  </tr>

  <tr>
    <td>Brand:</td>
    <td><%= link_to @product.brand.name, @product.brand %></td>
  </tr>

  <tr>
    <td>Price:</td>
    <td><%= @product.price %></td>
  </tr>

  <tr>
    <td>Stock quantity:</td>
    <td><%= @product.stock_quantity %></td>
  </tr>

  <tr>
    <td>Date expected at:</td>
    <td><%= @product.date_expected_at %></td>
  </tr>
</table>


<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-warning' %>
<%= link_to 'Show all Products', products_path, class: 'btn btn-default' %>
