<div class="page-header text-center">
  <h1><%= link_to @brand.name, store_brand_url(brand: @brand.name.downcase) %> &rarr; <%= @device.name %></h1>
  <p class="lead">Covers for all your favourite smartphones at amazing prices!</p>
</div>


<div class="row">
  <div class="col-sm-12">
    <h2>Products</h2>
    <% @device.products.each do |product|%>
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-2">
            <%= image_tag product.image.url(:medium), class: 'img-thumbnail' %>
          </div>
          <div class="col-sm-8">
            <h4><%= product.name %></h4>
            <p><%= product.description %></p>
            <p>Price:
              <strong><%= number_to_currency(product.price, precision: 2, unit: '€', separator: '.', delimiter: ',') %></strong>
            </p>
          </div>
          <div class="col-sm-2 text-right">
            <% if product.stock_quantity > 0 %>
              <%= link_to 'Buy it now', '#', class: 'btn btn-sm btn-success' %>
            <% else %>
              Date expected at <%= product.date_expected_at %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>